/*
 * addtaskk css File
*/

.addtaskk {
    /* propertys here */
}
button.btn.btn-primary.submit {
    width: 234px;
}
form button:disabled {
    background-color: #337ab7!important;
    color: white;
    margin-bottom: 27px;
    overflow: hidden;
}
