/*
 * login css File
*/

.login {
    /* propertys here */
}.error{
	display: none;

}.error h5{
	color:red;
	
}
.btn.btn-flat {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 2px;
    width: 89px;
    margin: 50px 0px 18px 0px;
    padding: 0px 0px 0px 0px;
}