/*
 * addemployee css File
*/

.addemployee {
    /* propertys here */
}.errorr{
	display: none;

}.errorr h5{
	color:red;
	
}

.errorrr h5{
	color:red;
}
.errorrrr h5{
	color:red;
}
.errorrrrr h5{
	color:red;
}
